
html {
    background-color: rgb(200,100,100);
}

nav {;
    padding: 16px;
    border-bottom: 3px solid black;
}

a   {
    background-color: green;
    color: yellow;
    transition: background-color 0.5s;
    text-decoration: none;
}

a:hover{
    background-color: gold;
}

h1  {
    color: rgb(25, 75, 150);
}

h2  {
    color:aqua;
}

img {
    width: 200px;
    height: 200px;
}

table {
    color:rgb(143, 57, 242);
}

main {
    padding: 16px;
}



footer {
    background-color: olive;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 10px;
    padding-right: 0px;
    position: sticky;
    bottom: 0px;
}

.container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}


tbody tr:nth-child(odd) {
    background-color: grey;
}
